# Build output
dist/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Static assets optimized by Astro
# (If you use the built-in image optimization)
.astro/

# Environment variables (Crucial for security!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.local

# Hosting-specific folders
.netlify/
.vercel/

# OS-specific files
.DS_Store
Thumbs.db

# TypeScript / IDE
*.tsbuildinfo
.vscode/
.idea/